<!DOCTYPE html>
<html>
<head>
    <title>Stadium</title>

    <link rel="stylesheet" href="knacs.css" media="all">

    <script language="javascript" type="text/javascript">
      var wsUri = document.location.href.replace('http:', 'ws:').replace('stadium-php:', 'ws-server-php:');
      console.log(wsUri);
      var output;
      var stack = [];

      window.setInterval(function () {
        document.querySelectorAll('.movable').forEach(function (element) {
          element.style.opacity = element.style.opacity - 0.1;
          if (element.style.opacity <= 0) {
            element.parentNode.removeChild(element);
          }
        });
      }, 700);

      function init() {
        output = document.getElementById("ws-output");
        testWebSocket();
      }

      function testWebSocket() {
        websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) {
          onOpen(evt)
        };
        websocket.onclose = function (evt) {
          onClose(evt)
        };
        websocket.onmessage = function (evt) {
          onMessage(evt)
        };
        websocket.onerror = function (evt) {
          onError(evt)
        };
      }

      function onOpen(evt) {
        writeToScreen("CONNECTED");
      }

      function onClose(evt) {
        writeToScreen("DISCONNECTED");
      }

      function onMessage(evt) {
        var d = JSON.parse(evt.data);
        var node;
        node = document.getElementById(d.uuid);

        if (!node) {
          node = document.createElement("div");
          node.id = d.uuid;
          node.style.width = '10px';
          node.style.height = '10px';
          node.style.position = 'absolute';
          node.className = 'movable ' + d.type;
          switch (d.type) {
            case 'player':
              node.style.backgroundColor = d.team;
              break;
            case 'ball':
              node.style.backgroundColor = 'yellow';
              break;
          }
          document.getElementById("stadium").appendChild(node);
        }
        node.style.opacity = 1;
        node.style.top = (d.position.y * 4) + 'px';
        node.style.left = (d.position.x * 4) + 'px';

        //writeToScreen('<span style="color: blue;">RESPONSE: ' + evt.data + '</span>');
      }

      function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
      }

      function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
      }

      function writeToScreen(message) {
        stack.unshift(message);
        stack = stack.slice(0, 5);
        output.innerHTML = '<li>' + stack.join('</li><li>') + '</li>';
      }

      window.addEventListener("load", init, false);

    </script>

</head>
<body>
<h1>Stadium</h1>
{#
    {{  players|json_encode }}
    {{  balls|json_encode }}
#}
<div id="stadium"
     style="width:{{ dimension.getWidth()*4 }}px;height:{{ dimension.getHeight()*4 }}px;background-color: seagreen;border:1px solid black;position:relative">
</div>

<div id="ws-output"></div>
</body>
</html>